*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-primario-gradient: linear-gradient(to bottom, #fa7afa,rgb(179, 179, 179));
    --bg-primario: linear-gradient(to bottom, #fa7afa,rgb(179, 179, 179));
    --bg-secundario: #fa7afa;
    --txt-secundario: #fff;
    --sombra-chica: 0 0 5px rgba(0, 0, 0, 0.5);
    --sombra-grande: 0 0 20px rgba(202, 199, 204, 0.5);
}

body{
    height: 100vh;
    background: var(--bg-primario-gradient);
    color: white;
    font-family: var(--arial);
}
.Bienvenida{
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: center;
    align-items: center;
    gap: 16px; color:black;
}
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
    padding: .5em;
    gap: .5em;
}
.login input[type="email"], .login input[type="password"]{
    width: 100%;
    height: 2.4em;
    padding: 0.5em;
    border-radius: 5em;
    border: none;
}
.login .boton{
    width: 100%;
    height: 2.5em;
    line-height: 2.5em;
    background: var(--bg-secundario);
    color: white;
    border-radius: 25em;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

.logo{
    height: 80px; 
    width: 110px;
    margin: auto;
    mix-blend-mode: multiply;
}
.logoBienvenida{
    height: 20vh; 
    width: 80vh;
    filter:drop-shadow(var(--sombra-grande));
}
